- if user_signed_in?
  .footer-top.hidden-xs.hidden-sm
    .row
      .col-lg-2
        %h5 Linkage
        %ul.list-unstyled
          %li= link_to 'About', ''
          %li= link_to 'Terms', ''
          %li= link_to 'Privacy', ''
          %li= link_to 'Ads', ''
          %li= link_to 'Jobs', ''
      .col-lg-2
        %h5 Help &amp; Support
        %ul.list-unstyled
          %li= link_to 'FAQ', ''
          %li= link_to 'Terms of Use', ''
          %li= link_to 'Contact Support', ''
          %li= link_to 'About', ''
          %li= link_to 'Advertise', ''     
      .col-lg-3
        %h5 Newsletter
        %p Sign up for the Bootmag email list to keep to keep up to date on all the latest news
        %form
          .form-group
            %input{ type: 'text', class: 'form-control'}
          %button{ type: 'submit', class: 'btn btn-primary'} Sign Up
      .col-lg-4.col-lg-4.col-lg-offset-1.adertisement
        %h4 Advertisement
        .well
          ad
  .footer-bottom.text-center
    .row
      .col-lg-6
        Copyright 2015 Palsmaker
      .col-lg-6
        .social-media
          %div= link_to fa_icon('facebook-official') 
          %div= link_to fa_icon('twitter-square') 
          %div= link_to fa_icon('github-square') 
          %div= link_to fa_icon('linkedin-square') 
          %div= link_to fa_icon('google-plus-square') 
          %div= link_to fa_icon('pinterest-squrae') 