.footer-bottom.text-center
  .row
    .col-lg-6
      Copyright 2015 Palsmaker
    .col-lg-6
      .social-media
        %div= link_to fa_icon('facebook-official') 
        %div= link_to fa_icon('twitter-square') 
        %div= link_to fa_icon('github-square') 
        %div= link_to fa_icon('linkedin-square') 
        %div= link_to fa_icon('google-plus-square') 
        %div= link_to fa_icon('pinterest-squrae') 